:host {
  display: block;
}

.select-wrapper {
  position: relative;
}

.select-icon {
  pointer-events: none;
  position: absolute;
  right: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
  color: hsl(var(--muted-foreground));
}

select {
  appearance: none;
}
