---
interface Props {
  icon: string;
  label: string;
  animation: string;
}

const { icon, label, animation } = Astro.props;
---

<div
  class="demo-tile flex-col gap-1 p-4 cursor-pointer hover:border-primary hover:text-primary"
  and-motion={animation}
  and-motion-trigger="hover"
>
  <and-icon name={icon} size="20" class="text-primary"></and-icon>
  <span and-text="p-xs">{label}</span>
</div>
