---
interface Props {
  value: string;
  label: string;
}

const { value, label } = Astro.props;
---

<div and-layout="vertical align:center gap:xxs">
  <span class="text-3xl font-bold text-primary">{value}</span>
  <span and-text="p-sm" class="text-muted-foreground">{label}</span>
</div>
