---
interface Props {
  title: string;
}

const { title } = Astro.props;

import "../styles/global.css";
import "@andersseen/web-components/dist/web-components/web-components.css";
import "@andersseen/motion/style.css";
import "@andersseen/layout/dist/layout.css";

import Head from "../components/Head.astro";
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <Head title={title} />
  </head>
  <body class="bg-background text-foreground antialiased min-h-screen font-sans">
    <slot />
    <script>
      import "../scripts/init";
    </script>
  </body>
</html>
