:host {
  display: block;
}

/* Tabs List */
:host(my-tabs-list) {
  display: inline-flex;
  height: 2.5rem; /* h-10 */
  align-items: center;
  justify-content: center;
  border-radius: 0.375rem; /* rounded-md */
  background-color: hsl(var(--muted));
  padding: 0.25rem; /* p-1 */
  color: hsl(var(--muted-foreground));
}

/* Tabs Trigger */
:host(my-tabs-trigger) {
  display: inline-flex;
  flex: 1;
}

button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  border-radius: 0.125rem; /* rounded-sm */
  padding-left: 0.75rem; /* px-3 */
  padding-right: 0.75rem;
  padding-top: 0.375rem; /* py-1.5 */
  padding-bottom: 0.375rem;
  font-size: 0.875rem; /* text-sm */
  font-weight: 500;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  background: transparent;
  border: none;
  width: 100%;
  cursor: pointer;
  color: inherit;
}

button:focus-visible {
  outline: 2px solid hsl(var(--ring));
  outline-offset: 2px;
}

button:disabled {
  pointer-events: none;
  opacity: 0.5;
}

button[aria-selected='true'] {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

button:not([aria-selected='true']):hover {
  background-color: hsla(var(--background), 0.5);
  color: hsl(var(--foreground));
}
