@tailwind base;
@tailwind components;
@tailwind utilities;

:host(my-tabs) {
  display: flex;
  width: 100%;
}

:host(my-tabs-list) {
  display: flex;
  flex-direction: row;
  width: 100%;
}

:host(my-tabs-trigger) {
  display: flex;
  flex: 1;
}

:host(my-tabs-content) {
  display: block;
  width: 100%;
}
