@keyframes motionBounceIn {
  0% {
    transform: scale(0.3);
    opacity: 0;
  }
  50% {
    transform: scale(1.08);
    opacity: 1;
  }
  70% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}

.motion-bounce-in {
  animation-name: motionBounceIn;
  animation-duration: 0.5s;
}
