@keyframes motionRotateIn {
  from {
    transform: rotate(-90deg) scale(0.8);
    opacity: 0;
  }
  to {
    transform: rotate(0deg) scale(1);
    opacity: 1;
  }
}

.motion-rotate-in {
  animation-name: motionRotateIn;
}
