@keyframes motionScaleIn {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes motionScaleOut {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0.9);
    opacity: 0;
  }
}

.motion-scale-in {
  animation-name: motionScaleIn;
}

.motion-scale-out {
  animation-name: motionScaleOut;
}
