@keyframes motionSlideInTop {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes motionSlideInBottom {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes motionSlideInLeft {
  from {
    transform: translateX(-20px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes motionSlideInRight {
  from {
    transform: translateX(20px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.motion-slide-in-top {
  animation-name: motionSlideInTop;
}

.motion-slide-in-bottom {
  animation-name: motionSlideInBottom;
}

.motion-slide-in-left {
  animation-name: motionSlideInLeft;
}

.motion-slide-in-right {
  animation-name: motionSlideInRight;
}
